<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">{{ site.title }}
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="codewriter-brian-dominick">About the Codewriter</a>
      <a class="sidebar-nav-item" href="blog.html">Code the Docs (Blog)</a>
      <a class="sidebar-nav-item" href="https://github.com/briandominick/codewriting">Source</a>
      <a class="sidebar-nav-item" href="readme">README</a>
      <a class="sidebar-nav-item" href="contact">REACHME</a>
      <a class="sidebar-nav-item" href="docops-glossary">Terminology</a>
    </nav>

    <div class="copyright">
      &copy; {{ site.time | date: '%Y' }} <a href="codewriter-brian-dominick">Brian Dominick</a><br />
      <a href="notice">NOTICE</a>
    </div>
  </div>
</div>
