pre, h1, h2, h3 {
  font-family: 'PT Mono', monospace;
}

h1.page-title {
  font-size: 2rem;
  margin-left: -2rem;
  padding: 0 1rem 0 2rem;
  background-color: #202020;
  color: #efefef;
  display: table;
}

.content {
  padding-bottom: 0;
}

td.content {
  padding: 1rem;
}

.title {
  font-weight: bold;
}

.listingblock .title {
  font-size: .85em;
  font-style: italic;
}

.container {
  width: auto;
}

.openblock.banner {
  font-size: 32px;
  font-family: 'PT Mono', monospace;
}

.openblock.banner.small {
  font-size: 24px;
}

.openblock.pitch {
  /*font-size: 22px;
  font-family: 'PT Mono', monospace;*/
}

.landing .openblock .paragraph {
  margin: 0;
  max-width: 35rem;
}

.imageblock .content {
  padding: 0;
}

.imageblock .title {
    font-size: .8em;
    font-style: italic;
    margin-bottom: 1em;
}

.listingblock .content {
  padding-top: 0;
}

.sidebar-about h1 {
  font-size: 30px;
  font-family: 'PT Mono', monospace;
}

.sidebar {
  font-family: 'PT Mono', monospace;
}

.sidebar-footer, .sidebar-footer a {
  color: #999;
  font-size: .8em;
  text-align: right;
  padding-right: 5px;
}

.sidebar-footer .copyright {
  margin-bottom: 5px;
}

.sidebar-footer .copyright i.fa {
  font-size: 20px;
  padding-right: 3px;
}

span.dateline {
  font-size: .8em;
  color: #888;
  background: #e5e5e5;
  padding: 2px;
}

span.byline {
  font-size: .8em;
  font-weight: bold;
  color: #888;
  border: 1px solid #e5e5e5;
  padding: 1px 3px;
}

span.titleline {
  font-size: .8em;
  font-weight: bold;
}

table.contact, table.contact td {
  border: 0;
  text-align: center;
  background-color: #fff !important;
}

.resume dt, .resume dd {
  font-size: 0.9em;
}

.resume dd p {
    margin-left: 15px;
    text-indent: -15px;
}

.resume dd p em {

}

article {
  margin-bottom: 65px;
}

.postmeta {
  margin-bottom: 1rem;
}

.blog-banner {
  font-size: 1.3em;
  background-color: #202020;
  color: #e5e5e5;
  margin-bottom: 1rem;
  margin-left: -1rem;
  display: table;
  padding: 0 1rem 0 0.75rem;
}

pre.highlight {
  margin-top: 0;
  overflow: auto;
  word-break: keep-all;
  word-wrap: normal;
  white-space: pre;
  padding: 0;
}

.portfolio-card {
  border: 2px solid #e8e8e8;
  padding: 0px 12px 12px 12px;
  margin-bottom: 20px;
}

.portfolio-card h3 {
  border: #e8e8e8 solid;
  border-width: 2px 0;
  margin-top: .5em;
  padding: 5px;
}

.portfolio-card p {
  font-size: .8em;
  margin-top: 2em;
  border: #e8e8e8 solid;
  border-width: 2px 0;
  padding: 10px 0;
}

ul {
  font-size: .9em;
}

li p {
  margin: .5em;
}
