---
layout: default
---

<div class="blog-banner">
Code the Docs Blog
</div>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="postmeta">
    <span class="byline">{{ page.author }}</span><time datetime="{{ node.date | date: "%Y-%m-%d" }}"><span class="dateline">{{ page.date | date_to_long_string }}</span></time>
  </div>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <a href="{{ post.url }}">
        {{ post.title }}
        <small>{{ post.date | date_to_string }}</small>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
